.i-header {
    width: 100%;
    height: 700px;
    position: relative;
    top: 0;
    z-index: 3;
    background: url('/static/images/unlogin_bg.jpg') left center no-repeat;
    background-size:  100% 100%;
    text-align: center;
    .logo {
        position: relative;
        top: 80px;
    }
    .header-con {
        width: 1200px;
        height: auto;
        position: relative;
        margin: 0 auto;
        .user {
            position: absolute;
            right: 0;
            top: 100px;
        }
        ul {
            width: 100%;
            position: relative;
            top: 163px;
            li {
                display: inline-block;
                margin-right: 8px;
            }
            li:last-child {
                margin-right: 0;
            }
            li:hover {
                -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
                box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
                -webkit-transition: all .5s ease;
                transition: all .5s ease;
            }
        }
    }
}

.hot-raiders,
.hot-wedding,
.store-comment {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background: #fff;
    margin-top: 20px;
    .tit {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .more_a {
        // color: #ff516d;
        color: #b2b2b2;
        font-size: 14px;
        margin-right: 30px;
        margin-top: 30px;
    }
    .container{
        position: relative;
        width: 1200px;
        text-align: center;
    }
}

.hot-raiders {
    li {
        width: 590px;
        height: 195px;
        position: relative;
        overflow: hidden;
        float: left;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 20px;
        .img-hover {
            width: 195px;
            height: 195px;
            overflow: hidden;
        }
        img {
            cursor: pointer;
            transition: all 0.6s;
        }
        img:hover {
            transform: scale(1.4);
        }
    }
    .raid-con {
        text-align: left;
        width: 385px;
        padding: 15px 15px 10px 15px;
        p {
            color: #262626;
            font-size: 22px;
            line-height: 26px;
            height: 28px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        span {
            display:-webkit-box;
            -webkit-line-clamp:4;
            -webkit-box-orient:vertical;
            height: 115px;
            color: #808080;
            font-size: 14px;
            line-height: 27.41px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        p:hover{
            color: #ff4e6b;
        }
        .raid-num {
            color: #999999;
            font-size: 12px;
            line-height: 27.41px;
        }
    }
}

.store-comment {
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
    ul {
        li {
            height: 420px;
            width: 285px;
            display: inline-block;
            margin-right: 12px;
            text-align: left;
            float: left;
            .com-con {
                width: 100%;
                height: 225px;
                display:-webkit-box;
                -webkit-line-clamp:4;
                -webkit-box-orient:vertical;
                overflow: hidden;
                padding: 20px 15px;
                color: #262626;
                font-size: 16px;
                line-height: 27.28px;
                p {
                    color: #262626;
                    font-size: 22px;
                    line-height: 27.28px;
                }
                .blog {
                    color: #808080;
                    font-size: 14px;
                    line-height: 36px;
                }
            }
        }
        li:last-child {
            margin-right: 0;
        }
    }
}

@mixin animation($animation) {
    animation: $animation;
    -webkit-animation: $animation;
}

.flipInY {
    @include animation(1s flipInY 1);
}