@charset "UTF-8";
@import './main';
.list {
    .list_con{
        position: relative;
        width: 1200px;
        height: 240px;
        border-bottom: 1px solid #e6e6e6;
    }
    .shop {
        display: inline-block;
        float: left;
        padding-top: 40px;
        width: 432px;
        overflow: hidden;
        .shop_logo {
            float: left;
            width: 170px;
            height: 170px;
        }
        .shop_details{
            float: left;
            width: 230px;
            height: 170px;
            margin-left: 20px;
            overflow: hidden;
            li{
                display: block;
                width: 100%;
                height: 40px;
                line-height: 40px;
                overflow: hidden;
            }
            .meal_name{
                float: left;
                display: inline-block;
                color: #333333;
                font-size: 18px;
                width: 160px;
                white-space: nowrap;
                text-overflow:ellipsis;
                overflow: hidden;
                i{
                    float: left;
                }
            }
            .price{
                font-size: 14px;
                span{
                    color: #808080;
                }
                label{
                    margin-left: 20px;
                    color: #ff4e6b;
                }
            }
            .meal_tag{
                display: block;
                width: 100%;
                li{
                    display: inline-block;
                    float: left;
                    width: auto;
                    height: 25px;
                    line-height: 25px;
                    font-size: 14px;
                    color: #fff;
                    margin:0 5px 2px 0;
                    padding: 0px 10px;
                    background:#ff4e6b;
                    border-radius: 10px;
                }
            }
            .position{
                font-size: 14px;
                color: #808080;
                margin-left: 5px;
            }
        }
    }
    .photo{
        display: inline-block;
        float: left;
        padding-top: 40px;
        width: auto;
        overflow: hidden;
        li{
            display: inline-block;
            float: left;
            margin-left: 35px;
            width: 220px;
            white-space: nowrap;
            text-overflow:ellipsis;
            overflow: hidden;
            .picture{
                width: 220px;
                height: 145px;
            }
            .pho_details{
                font-size: 16px;
                height: 40px;
                line-height: 40px;
                span{
                    width: 170px;
                    white-space: nowrap;
                    text-overflow:ellipsis;
                    overflow: hidden;
                    float: left;
                    color: #333333;
                }
                label{
                    color: #ff4e6b;
                    font-weight: bold;
                    float: right;
                }
            }
        }
    }
}
.icon{
    float: left;
    margin-left: 5px;
}
.icon-yes{
    background: url('/static/images/icon.png');
    width: 30px;
    height: 30px;
    background-position: -15px -15px;
}
.icon-vip{
    background: url('/static/images/icon.png');
    width: 30px;
    height: 30px;
    background-position: -66px -13px;
}
.logo_position{
    background: url('/static/images/icon.png');
    width: 30px;
    height: 30px;
    background-position: -15px 40px;
}